fastapi
uvicorn
python-multipart
pydantic
passlib[bcrypt]
email-validator
python-dotenv
motor
PyMuPDF
reportlab
bson
sentence-transformers
langchain
langchain-groq
python-jose[cryptography]
requests
smtplib
